{% extends 'base.html'%}
{% block title%}Log In Page{% endblock%}
{%block content%}
{% load crispy_forms_tags%}
<style>
    #see{
        width: 50%;
    }
</style>
<div id ="see" class="container text-dark">
    <fieldset class="form-group ">
        <legend class="">Log In</legend><hr>
        <form method="POST" class="text-white" >
            {% csrf_token%}
            {{ form|crispy }}
        </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-light mt-4" type="submit">Log In</button>
            </div>
        </form><hr>
        <div class="container mt-3 pb-3">
            <small class="text-muted text-white">Need An Account?  <a class="ml-2 text-white" href="{% url 'register'%}">Register</a></small>
        </div>
</div>
{% endblock%}