{% extends 'base.html'%}
{% load static %}
{% block title%}Progress Page{% endblock%}
{%block content%}
<body class="bg-white">
  

<div >
  <canvas  id="myChart"></canvas>
</div>



<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['Numerical Methods', 'Signals and Systems', 'Computer Networks', 'Operating Systems', 'Programming Fundamentals', 'Computer Architecture'],
      datasets: [{
        label: 'Your Scores',
        data: [{{user.profile.nummerical_score}}, {{user.profile.signals_score}}, {{user.profile.networks_score}},{{user.profile.operate_score}} , {{user.profile.programming_score}}, {{user.profile.architect_score}},],
        backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>


  
</body>
{% endblock%}